In [ ]:
coisas_comprar = [{'Nome': 'Cadeira_gamer', 'Preço': 500, 
                   'Quando': 'Início de abril'},
                  {'Nome': 'Kindle', 'Preço': 200, 
                   'Quando': 'Meio de Abril'},
                  {'Nome': 'Python para Data Science', 'Preço': 70, 
                   'Quando': 'Início de Abril'}]

In [ ]:
import pandas as pd

tabela = pd.DataFrame(coisas_comprar)
tabela

                       Nome  Preço           Quando
0             Cadeira_gamer    500  Início de abril
1                    Kindle    200    Meio de Abril
2  Python para Data Science     70  Início de Abril